.navbar {
  background-color: #fff;
}

.navbar .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.active,
header a:hover:not(#logo) {
  color: #0282f9;
}

li:hover {
  border-bottom: 2px solid #0282f9;
}

.row div {
  display: inline-block;
  height: auto;
}

img {
  width: auto;
  max-height: 80px;
}

ul,
li {
  min-height: 100px;
  list-style-type: none;
  display: inline;
}

a {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

#hero {
  width: 100%;
  height: 400px;
  background-image: url("../../../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comics {
  background-color: #1c1c1c;
  margin: 0;
}

.container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main .row {
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.container .col {
  align-items: center;
  padding: 20px;
  width: 1500px;
}

.tag {
  background-color: #0282f9;
  display: inline;
  color: #fff;
  padding: 1.05rem;
  box-shadow: black 5px 2px 2px;
}

.btn {
  cursor: pointer;
  align-self: center;
}

.current {
  position: relative;
  left: 20%;
}

.card {
  margin: 20px;
  max-width: 200px;
  min-height: 250px;
}
.card a {
  color: #fff;
}
.card a:hover {
  text-decoration: underline;
}

.card img {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}

.description {
  max-width: 800px;
  line-height: 1.5em;
}

.buy,
#check {
  background-color: #55ba59;
  color: #fff;
  border: none;
}

.col .buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  min-height: 50px;
  padding-left: 20px;
  font-size: 1em;
  box-shadow: #357739 0px 1px;
}

#check {
  text-align: center;
  min-height: 50px;
  border-left: 1px solid #000;
  padding-left: 20px;
  margin-right: 20px;
}

.avaible {
  color: #bafd9c;
}

.container-fluid {
  background-color: #f6f6f6;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info span {
  color: #00a9d9;
}

.info .col {
  max-width: 750px;
  align-items: center;
  justify-content: space-between;
}

.info h4 {
  display: inline-block;
}

.divide {
  border-color: #e3e3e3;
}