* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #1c1c1c;
    margin: 0;
}

.container {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .row {
    margin-top: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.container .col {
    align-items: center;
    padding: 20px;
    width: 1500px;
}

.tag {
    background-color: #0282f9;
    display: inline;
    color: #fff;
    padding: 1.05rem;
    box-shadow: black 5px 2px 2px;
}

.btn {
    cursor: pointer;
    align-self: center;
}

.current {
    position: relative;
    left: 20%;
}

.card {
    color: #fff;
    margin: 20px;
    max-width: 200px;
    min-height: 250px;
}

.card img {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}
